header {
    background-color: darkslategrey;
    text-align: center;
}

main {
    background-color: lightgray;
    padding: 1em;
}

body {
    background-image: url("record.png");
    background-repeat: initial; /* you can also use repeat-y or repeat-x; automatically does x and y */
    margin: 0;
}